*, body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
    height: 100%;
    padding-left: 15px;
    background-color: bisque;
}

#map {
    position: absolute;
    height: 100%;
    left: 362px;
    right: 0;
    bottom: 0;
}

h1 {
    color: red;
}

#search-places {
    width: 250px;
}